netstandard2.0
obj
bin
.vs
.signature.p7s
MSTest.TestAdapter.1.3.2.nupkg
Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Microsoft.VisualStudio.TestPlatform.TestFramework.dll
Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
MSTest.TestAdapter.props
MSTest.TestAdapter.targets
MSTest.TestFramework.1.3.2.nupkg
Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
Microsoft.VisualStudio.TestPlatform.TestFramework.XML
Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
Microsoft.VisualStudio.TestPlatform.TestFramework.xml
